.sectionRevies{
    margin-top: 100px;
    .wrapperSlick{
        @media screen and (max-width: 767px) {
            padding: 0;
        }
    }
    .space{
        height: 50px;
        width: 100%;
        display: block;
    }
    #slickStart{
        .slick-slide{
            overflow: hidden;
        }
        .sectionSlick{
            margin:0 auto;
            width: 871px;
            height: 630px;
            box-shadow: 0 4px 22px -6px rgba(3, 72, 89, 0.56);
            border-radius: 24px;
            background-color: #f9f9f9;
            position: relative;
            top: -7px;
            @media screen and (max-width: 767px){
                width: auto;
                min-height: 700px;
                height: auto;
            }
            .imgRevieMail-mini{
                cursor: default;
                display: block;
                width: 200px;
                height: 300px;
                position: absolute;
                z-index: 10;
                left: -107px;
                top: 20%;
                @media screen and (max-width: 767px){
                    display: none;
                }
                img[alt=mini]{
                    filter: brightness(0.8);
                    transition: all 1s;
                    &:hover{
                        filter: brightness(1);
                        transition: all 0.5s;    
                    }
                }
                .imgReviesAutor{
                    position: absolute;
                    right: -40%;
                    top: 22%;
                }
                svg{
                    position: absolute;
                    top: 40%;
                    left: 38%;
                }
            }
            .reviesAutor{
                height: 160px;
                position: absolute;
                bottom: 0;
                border-top: 1px solid #a1bee6;
                width: 100%;
                .textLight--italic{
                    width: 70%;
                    margin: 0 auto;
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
                @media screen and (max-width: 767px) {

                }
            }
            .textList{
                color: #034859;
                font-family: "Open Sans Light";
                font-size: 1rem;
                font-weight: 300;
                line-height: 24px;
                padding-left: 40px;
                padding-right: 40px;
                    @media (max-width: 1024px){
                         font-size: 0.8rem;
                    }
                .first{
                    position: relative;
                    &::before{
                        background: url('../img/ico/kovka.png') no-repeat;
                        position: absolute;
                        content: "";
                        width: 50px;
                        height: 50px;
                        left: -47px;
                        top: -12px;
                        z-index: 1;
                        @media screen and (max-width: 767px) {
                            left: -29px;
                            top: -38px;
                        }
                    }
                }
            }
            .imgCompanyRevies{
                max-height: 60px;
                margin: 20px 0;
                @media screen and (max-width: 767px){
                    margin: 20px auto;
                }
            }
        }
    }
}